In [ ]:
#1. LEVEL_1_basic Write program that finds max 3 salaries from the list.

In [16]:
salary = [10000,12000,7000,8500,11200,9300,15100,18000,16400,11000]
max_value = max(salary)
sorted_salary = sorted(salary, reverse=True)
max_three = sorted_salary[:3]
print("All of the 3 maximum salaries are: ", max_three)

All of the 3 maximum salaries are:  [18000, 16400, 15100]

In [ ]:
#2. LEVEL_1_basic Write program that finds salaries greater than mean salary from dictionary.

In [1]:
name_to_salary = {

    'Adam': 10000,

    'Beata': 12000,

    'Jarek': 7000,

    'Agnieszka': 8500,

    'Marek': 11200,

    'Ania': 9300,

    'Piotr': 15100,

    'Mateusz': 18000,

    'Agata': 16400,

    'Marian': 11000
}

mean_salary = sum(name_to_salary.values()) / len(name_to_salary)
print ("Mean salary is: ", mean_salary, "Salaries greater than mean salary: ")
greater_than_mean = [(key, value) for key, value in name_to_salary.items() if value > mean_salary]
for key, value in greater_than_mean:
   print ("name: ", key, "- salary: ", value)

Mean salary is:  11850.0 Salaries greater than mean salary:
name:  Beata - salary:  12000
name:  Piotr - salary:  15100
name:  Mateusz - salary:  18000
name:  Agata - salary:  16400

In [ ]:
#3. LEVEL_1_basic Write program that filters employees from ‘Management’ department and counts them.b

In [56]:
from typing import List, Dict, Any
employee: List[Dict[str, Any]] = [

{'Id': 1, 'Name': 'Adam', 'Department': 'Management', 'Salary': 10000},
{'Id': 2, 'Name': 'Beata', 'Department': 'Management', 'Salary': 12000},
{'Id': 3, 'Name': 'Jarek', 'Department': 'Kitchen', 'Salary': 7000},
{'Id': 4, 'Name': 'Agnieszka', 'Department': 'House Floor', 'Salary': 8500},
{'Id': 5, 'Name': 'Marek', 'Department': 'House Floor', 'Salary': 11200},
{'Id': 6, 'Name': 'Ania', 'Department': 'Kitchen', 'Salary': 9300},
{'Id': 7, 'Name': 'Piotr', 'Department': 'Management', 'Salary': 15100},
{'Id': 8, 'Name': 'Mateusz', 'Department': 'Cashier', 'Salary': 18000},
{'Id': 9, 'Name': 'Agata', 'Department': 'Management', 'Salary': 16400},
{'Id': 10, 'Name': 'Marian', 'Department': 'Cashier', 'Salary': 11000},
]

mgmt_names = []
mgmt_count = 0


for entry in employee:
    if entry["Department"] == "Management":
        mgmt_count += 1
        mgmt_names.append(entry["Name"])
      
print("In department: Management working now ", mgmt_count, "persons", mgmt_names)

In department: Management working now  4 persons ['Adam', 'Beata', 'Piotr', 'Agata']