In [3]:
import pandas as pd

In [4]:
pip show pandas

Name: pandas
Version: 2.1.4
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: C:\Users\kasie\anaconda3\Lib\site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: altair, bokeh, datashader, holoviews, hvplot, panel, seaborn, statsmodels, streamlit, xarray
Note: you may need to restart the kernel to use updated packages.

In [7]:
df = pd.read_csv('C:\\Users\\kasie\\Downloads\\womenintechcoderedpythonchallenge3rdassignment\\mieszkania_windows.csv')
df.head()

   Kwartal   Rok  Wartosc
0        4  2023     6386
1        3  2023     6335
2        2  2023     6134
3        1  2023     5668
4        4  2022     5708

In [14]:
pip install tabulate

Requirement already satisfied: tabulate in c:\users\kasie\anaconda3\lib\site-packages (0.9.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
df = pd.read_csv('C:\\Users\\kasie\\Downloads\\womenintechcoderedpythonchallenge3rdassignment\\mieszkania_windows.csv')
dfy=df.groupby(df['Rok'])['Wartosc'].mean()
print(dfy.to_markdown)

<bound method Series.to_markdown of Rok
1998    1930.00
1999    2132.50
2000    2281.25
2001    2510.00
2002    2403.50
2003    2238.00
2004    2388.75
2005    2439.25
2006    2545.25
2007    2816.00
2008    3316.25
2009    3891.50
2010    4360.25
2011    3858.25
2012    3996.25
2013    4025.25
2014    4033.50
2015    3969.50
2016    4054.00
2017    4170.00
2018    4237.50
2019    4461.25
2020    4891.50
2021    5134.25
2022    5318.75
2023    6130.75
Name: Wartosc, dtype: float64>